{% extends "base.html" %}
{% block title %} Dashboard {% endblock %}

{% block content-title %}
    Analysis Duration
{% endblock %}

{% block content-subtite %}
    Set the duration for each apk to be analysis
{% endblock %}

{% block alerts %}
    {% if create_new_session %}
        <div class="alert alert-info" role="alert" xmlns="http://www.w3.org/1999/html">New session created</div>
    {% endif %}
    {% if not devices %}
        <div class="alert alert-danger" role="alert"><strong>No Android device found</strong>. Ensure device is connected and <strong>refresh page</strong>.</div>
    {% endif %}
    {% if duration_result %}
        <div class="alert alert-success" role="alert"><strong>Duration set successfully</strong></div>
    {% elif duration_result == False %}
        <div class="alert alert-error" role="alert"><strong>Duration not set.</strong></div>
    {% endif %}
{% endblock %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data" data-ajax="false">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Analysis duration per apk</h3>
                        <div class="box-tools pull-right">
                            <!--<span class="label label-primary">Label</span>-->
                        </div><!-- /.box-tools -->
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="form-group">
                            {{ analysisDurationForm }}
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer">
                        <button class="btn btn-default" type="submit">Apply</button>
                    </div><!-- box-footer -->
                </div><!-- /.box -->

            </div>
        </div>
    </form>

{% endblock%}


